@import '../../styles/globals.scss';

.details {
    text-align: center;
    margin: 2rem;

    @include sm {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    @include md {
        margin: 2rem auto;
        max-width: 60%;
    }

    p {
        text-align: justify;

    }

    h3 {
        @include sm {
            margin-top: 5rem;
            text-align: right;
        }
    }
}